@()

@main("Welcome to Pacemaker") {
	
	
	<div class="row">
		<div class="col-md-12">
			@welcome_menu()		
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<img src="@routes.Assets.at("images/pacemaker.jpg")" class="ui medium image">
		</div>
		<div class="col-md-6">
			<form role="form" action="/authenticate" method="POST">			
				<div class="form-group">					 
					<label for="email">Email Address</label>
					<input placeholder="Email Address"  class="form-control" type="text" name="email">
				</div>
				<div class="form-group">					 
					<label for="password">Password</label>
					<input placeholder="password"  class="form-control" type="password" name="password">
				</div>
				<button type="submit" class="btn btn-default">
					Login
				</button>
			</form>
		</div>
	
	</div>
	

  
 
    
}