@()

@main("Welcome to Pacemaker") {
  
    
  
	<div class="row">
		<div class="col-md-12">
			@welcome_menu()
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="logo-left col-md-2"><img class="slideLeft" src="@routes.Assets.at("images/logo/00.jpeg")" ></div>
				<div class="col-md-2"><img class="slideUp" src="@routes.Assets.at("images/logo/01.jpeg")" ></div>
				<div class="logo-right col-md-2"><img class="slideLeft" src="@routes.Assets.at("images/logo/02.jpeg")" ></div>
				<div class="logo-right col-md-2"><img class="slideUp" src="@routes.Assets.at("images/logo/03.jpeg")" ></div>
				<div class="logo-right col-md-2"><img class="slideRight" src="@routes.Assets.at("images/logo/04.jpeg")" ></div>
				<div class="col-md-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="logo-left col-md-2"><img class="slideDown" src="@routes.Assets.at("images/logo/10.jpeg")" ></div>
				<div class="col-md-2"><img class="slideUp" src="@routes.Assets.at("images/logo/11.jpeg")" ></div>
				<div class="logo-right col-md-2"><img class="slideDown" src="@routes.Assets.at("images/logo/12.jpeg")" ></div>
				<div class="logo-right col-md-2"><img class="slideUp" src="@routes.Assets.at("images/logo/13.jpeg")" ></div>
				<div class="logo-right col-md-2"><img class="slideDown" src="@routes.Assets.at("images/logo/14.jpeg")" ></div>
				<div class="col-md-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="logo-left col-md-2"><img class="slideUp" src="@routes.Assets.at("images/logo/20.jpeg")" ></div>
				<div class="col-md-2"><img class="slideUp" src="@routes.Assets.at("images/logo/21.jpeg")" ></div>
				<div class="logo-right col-md-2"><img class="slideUp" src="@routes.Assets.at("images/logo/22.jpeg")" ></div>
				<div class="logo-right col-md-2"><img class="slideUp" src="@routes.Assets.at("images/logo/23.jpeg")" ></div>
				<div class="col-md-2" style="padding-left: 35px;"><img class="slideUp" src="@routes.Assets.at("images/logo/24.jpeg")" ></div>
				<div class="col-md-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="logo-left col-md-2"><img class="slideDown" src="@routes.Assets.at("images/logo/30.jpeg")" ></div>
				<div class="col-md-2"><img class="slideUp" src="@routes.Assets.at("images/logo/31.jpeg")" ></div>
				<div class="logo-right col-md-2"><img class="slideDown" src="@routes.Assets.at("images/logo/32.jpeg")" ></div>
				<div class="logo-right col-md-2"><img class="slideUp" src="@routes.Assets.at("images/logo/33.jpeg")" ></div>
				<div class="col-md-2" style="padding-left: 35px;"><img class="slideDown" src="@routes.Assets.at("images/logo/34.jpeg")" ></div>
				<div class="col-md-1"></div>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="logo-left col-md-2"><img class="slideUp" src="@routes.Assets.at("images/logo/40.jpeg")" ></div>
				<div class="col-md-2"><img class="slideRight" src="@routes.Assets.at("images/logo/41.jpeg")" ></div>
				<div class="logo-right col-md-2"><img class="slideLeft" src="@routes.Assets.at("images/logo/42.jpeg")" ></div>
				<div class="logo-right col-md-2"><img class="slideRight" src="@routes.Assets.at("images/logo/43.jpeg")" ></div>
				<div class="logo-right col-md-2"><img class="slideUp" src="@routes.Assets.at("images/logo/44.jpeg")" ></div>
				<div class="col-md-1"></div>
			</div>
			
		</div>
		<div class="col-md-2">
			<a href="/login">Sign In</a> or <a href="/signup">Sign Up</a>
		</div>
	</div>

    
    
}